:root {
    --bullet-forager-color: #009688;
    --bullet-forager-background-color: rgba(255, 255, 255, .1);
    --bullet-forager-border-radius: 3px;
    --bullet-forager-font-size: 14px;
    --bullet-forager-line-height: 1.7;
    --bullet-forager-padding: 1em;
    --bullet-forager-text-align: left;
    --bullet-forager-width: 300px;
    --bullet-forager-z-index: 9999;
    --bullet-forager-opacity: 1;
    --bullet-forager-transition-duration: .3s;
}
font-family {
    font-family: 'Roboto', sans-serif;
}
.preset-panel {
  margin-bottom: 20px;
}

.preset-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.preset-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.preset-btn:hover {
  background-color: #e0e0e0;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');